/******************************/
/* HEADER */
/******************************/

.header {
    min-height: 3.2rem;
    background-color: #eee;
    color: #777;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    padding: 0 4.8rem;
    font-size: 1.4rem;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.header-contact-list {
    display: flex;
    align-items: center;
}

.header-contact-item {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1.2rem 1.6rem;
    border-right: 1px solid #ddd;
}
.header-contact-item:first-child {
    border-left: 1px solid #ddd;
}

.header-social-list {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.header-social-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.6rem;
    border-right: 1px solid #ddd;
}

.header-social-item:first-child {
    border-left: 1px solid #ddd;
}

.header-social-link:link,
.header-social-link:visited {
    text-decoration: none;
    color: inherit;
}

/******************************/
/* NAVBAR */
/******************************/

.navbar {
    min-height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;

    padding: 0 4.8rem;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    position: relative;
}
.logo {
    height: 5.5rem;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.nav-list-link:link,
.nav-list-link:visited {
    text-decoration: none;
    /* letter-spacing: 1px; */
    color: inherit;
    font-size: 1.6rem;
    /* font-weight: 700; */

    transition: all 0.3s;
}
.nav-list-link.active:link,
.nav-list-link.active:visited {
    color: #fda12b;
}

.nav-list-link:hover,
.nav-list-link:active {
    color: #fda12b;
}

/* MOBILE */
.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #555;
}

/* 
    <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
    <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
*/

.icon-mobile-nav[name='close-outline'] {
    display: none;
}

/******************************/
/* HERO SECTION */
/******************************/

.section-hero {
    /* height: calc(100vh - 11.2rem); */
    padding: 9.6rem 0;
    background-image: linear-gradient(
            to right bottom,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url('../img/hero.jpg');
    background-size: cover;
    background-position: center;
}

.hero-container {
    /* height: 100%; */
    padding: 4.8rem 9.6rem;

    display: grid;
    align-items: center;
}

.hero-text {
    color: #eee;
}

.hero-service-list {
    list-style: none;
    display: flex;
    gap: 1.2rem;
    margin-bottom: 3.2rem;
}

.hero-service-item {
    font-size: 2rem;
    position: relative;
}

.hero-service-item--residential,
.hero-service-item--industrial {
    margin-left: 3.2rem;
}

.hero-service-item--residential::before,
.hero-service-item--industrial::before {
    content: '';
    background-color: #fda12b;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: -3.2rem;
}

/******************************/
/* ABOUT US SECTION */
/******************************/
.section-about {
    padding: 9.6rem 0;
}

.about-items {
    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
}

.about-item {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-top: 2.4rem;

    font-size: 1.6rem;
    font-weight: 500;
}

.about-item-icon {
    font-size: 5.2rem;
    color: #fda12b;
}

.about-item p {
    color: #182333;
}

.section-facts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact {
    padding: 9.6rem 3.2rem;
    background-size: cover;
    background-position: center;

    color: #fff;
}

.fact--01 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../img/facts/construction-01.jpg');
}
.fact--02 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../img/facts/mechanical-02.jpg');
}
.fact--03 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../img/facts/architechture-03.jpg');
}
.fact--04 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../img/facts/interior-design-04.jpg');
}

.fact-number {
    font-size: 9.8rem;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 2px #fda12b;
    margin-bottom: 1.6rem;
}
.fact-name {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}
.fact-text {
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: 0.5px;
    margin-bottom: 1.6rem;
}
.fact-cta:link,
.fact-cta:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;

    transition: all 0.3s;
}

.fact-cta:hover,
.fact-cta:active {
    color: #fda12b;
}

/******************************/
/* WHY CHOOSE US SECTION */
/******************************/

.section-why {
    padding: 9.6rem 0;
}

.why-feature-items-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.2rem;
}

.why-feature-item-heading {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 1.6rem;
}

.why-feature-item-icon {
    display: inline-block;
    font-size: 4.4rem;
    color: #fda12b;
    --ionicon-stroke-width: 6.2rem;
}

.why-feature-item-heading span {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.2;
    color: #182333;
}

/******************************/
/* OUR SERVICES SECTION */
/******************************/

.section-services {
    padding: 0 0 9.6rem 0;
}

.services-cta-box {
    align-self: end;
    justify-self: end;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
}

.service {
    background-color: #f8f9fa;
    text-align: center;
}

.service-text-box {
    padding: 2.4rem;

    transition: all 0.3s;
}

.service:hover .service-text-box {
    background-color: #fda12b;
}

.service-img {
    width: 100%;
    display: block;
}

.service-heading {
    font-size: 2.4rem;
    font-weight: 500;
    color: #182333;
    margin-bottom: 1.6rem;

    transition: all 0.3s;
}

.service-cta:link,
.service-cta:visited {
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fda12b;

    transition: all 0.3s;
}
.service:hover .service-heading,
.service:hover .service-text-box .text,
.service:hover .service-cta:link,
.service:hover .service-cta:visited {
    color: #fff;
}

/******************************/
/* APPOINTMENT SECTION */
/******************************/
.section-appointment {
    padding: 9.6rem 0;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../img/appointment.jpg');
    background-size: cover;
    background-position: center;
}

.appointment-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 6.4rem;
}

.appointment-left .heading-secondary-box h3,
.appointment-left .heading-secondary-box h2,
.appointment-left p {
    color: #eee;
}

.appointment-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
}

.appointment-form input,
.appointment-form textarea {
    display: block;
    width: 100%;
    background-color: #182333;
    padding: 2.4rem 1.2rem;
    font-family: inherit;
    font-size: 1.6rem;
    color: #999;
    border: none;
}

.form-input--message {
    grid-column: span 2;
}
.appointment-form-btn {
    grid-column: span 2;
}

.appointment-form-btn .btn {
    width: 100%;
}

.appointment-container *:focus {
    outline: none;
    box-shadow: 0 0 0 0.4rem rgba(253, 162, 43, 0.5);
}

/******************************/
/* OUR TEAM SECTION */
/******************************/

.section-team {
    padding: 9.6rem 0;
}

.team-members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.4rem;
}

.team-member {
    height: 45rem;
    overflow: hidden;

    position: relative;
}

.team-member-img {
    width: 100%;
    display: block;
}

.team-member-text {
    position: absolute;
    bottom: 10%;
    left: 0;
    z-index: 10;
    width: 75%;

    background-color: #fff;
    padding: 2.4rem;
    transition: all 0.3s;
}

.team-member:hover .team-member-text {
    width: 100%;
}

.team-member-text h5 {
    font-size: 2rem;
    font-weight: 500;
    color: #182333;
    margin-bottom: 1.6rem;
}

.team-member-text span {
    font-size: 1.6rem;
    color: #aaa;
}

/******************************/
/* TESTIMONIAL SECTION */
/******************************/

.section-testimonial {
    padding: 0 0 9.6rem 0;
}

.testimonial-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 6.4rem;
    row-gap: 4.8rem;
}

.testimonial-amount-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.testimonial-amount-number {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 1.6rem;
}

.testimonial-amount-icon {
    display: inline-block;
    font-size: 3.6rem;
    color: #fda12b;
    --ionicon-stroke-width: 6.2rem;
}

.testimonial-amount-number h1 {
    font-size: 3.6rem;
    font-weight: 500;
    color: #182333;
}

.testimonial-amount h5 {
    font-size: 2rem;
    font-weight: 500;
    color: #182333;
}

.client-img {
    width: 10rem;
    display: block;
    margin-bottom: 1.6rem;
}

.client-text {
    font-size: 2rem;
    color: #888;
    line-height: 1.6;
    letter-spacing: 0.5px;
    margin-bottom: 2.4rem;
}

.client-name {
    font-size: 2rem;
    color: #182333;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.client-profession {
    display: inline-block;
    font-size: 1.6rem;
    color: #888;
    margin-bottom: 2.4em;
}

/******************************/
/* FOOTER */
/******************************/

.footer {
    padding: 9.6rem 0;
    background-color: #182333;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 2.4rem;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.social-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #fda12b;
    transition: all 0.3s;
}

.social-icon:hover {
    color: #ca8122;
}

.footer-heading {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 2.4rem;
    color: #eee;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 1.6rem;
}

.contacts {
    font-style: normal;
}

.address {
    font-size: 1.6rem;
    color: #888;
}

.footer-icon {
    font-size: 1.6rem;
    color: #888;
}

.footer-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #888;
    transition: all 0.5s;
}

.footer-link:hover,
.footer-link:active {
    color: #eee;
    transform: scale(1.1);
    transform-origin: left;
}

.newsletter-form {
    border: 1px solid #eee;
    padding: 0.4rem;
}
.newsletter-form-group {
    display: flex;
    justify-content: space-between;
}

.newsletter-form-input {
    display: block;
    width: 100%;
    background-color: #182333;
    padding: 1.6rem 1.2rem;
    font-family: inherit;
    font-size: 1.6rem;
    color: #999;
    border: none;
}

.btn.btn--newsletter {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.8rem 1.6rem;
}

.newsletter-form-group *:focus {
    outline: none;
}

.copyright-section {
    border-top: 1px solid rgba(256, 256, 256, 0.1);
    width: 98%;
    margin: 0 auto;
}

.copyright {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.6rem;

    padding-top: 3.2rem;
}

.copyright p span {
    color: #fda12b;
}
